<%= render 'shared/error_messages', object: f.object %>

<div class="question-box">
  <h3><%= f.label 'Tên câu hỏi' %></h3>
  <%= f.text_area :content, placeholder: 'Tên câu hỏi...', class: 'form-control' %>

  <h3> Lựa chọn: </h3>
  <%= f.fields_for :options do |builder| %>
    <%= render 'option_fields', f: builder %>
  <% end %>
</div>

<%= link_to_add_fields t(:add_option), f, :options %>